{% extends 'base.html' %}
{% block title %}
  UT Events - Android
{% endblock title %}

{% block content %}
<div class="container">
  <h1 class="text-primary"><a href="{% url 'home' %}">UT Events</a></h1>
  <legend></legend>
  <h2 style="color: #B8E62E">Android App</h2>
  View and submit events on the go with our Android app.

  <div class="well row" style="margin-top: 20px">
    <h2 class="text-info container" style="margin-bottom: -15px">Features</h2>
    <div class="col-md-6">
      <h4 style="margin-top: 40px; color: grey">Events are listed as cards and sorted chronologically</h4>
      <img src="https://i.imgur.com/9hstANY.png" style="width: 300px"></img>
    </div>

    <div class="col-md-6">
      <h4 style="margin-top: 40px; color: grey">Events are categorized and can be filtered by category</h4>
      <img src="https://i.imgur.com/iv368MK.png" style="width: 300px"></img>
    </div>

    <div class="col-md-6">
      <h4 style="margin-top: 40px; color: grey">Categories are given distinct colors</h4>
      <img src="https://i.imgur.com/pOjnPPM.png" style="width: 300px"></img>
    </div>

    <div class="col-md-6">
      <h4 style="margin-top: 40px; color: grey">Events can be searched for</h4>
      <img src="https://i.imgur.com/Ntp4uPr.png" style="width: 300px"></img>

    </div>

    <div class="col-md-6">
      <h4 style="margin-top: 40px; color: grey">Individual events can be viewed in detail</h4>
      <img src="https://i.imgur.com/L6f8qt8.png" style="width: 300px"></img>
    </div>

    <div class="col-md-6">
      <h4 style="margin-top: 40px; color: grey">New events can be submitted</h4>
      <img src="https://i.imgur.com/kmPjLzZ.png" style="width: 300px"></img>
    </div>
  </div>


</div>
{% endblock %}

