{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Create a UT Event
{% endblock title %}

{% block content %}
{% if status == 'success' %}
  <div class="container alert alert-success alert-dismissable" style="margin-top: 30px">
    <button type="button" class="close" data-dismiss="alert" area-hidden="true">&times;</button>
    <strong>Success!</strong> Your event has been submitted.
  </div>
{% endif %}
{% if status == 'failure' %}
  <div class="container alert alert-danger alert-dismissable" style="margin-top: 30px">
    <button type="button" class="close" data-dismiss="alert" area-hidden="true">&times;</button>
    <strong>Ahh!</strong> Check that you've filled out all required fields and try submitting again!
  </div>
{% endif %}

<h1 class="text-primary"><a href="{% url 'home' %}">UT Events</a></h1>
<div class="well container" style="margin-top: 20px">
  <div class="panel-heading">
    <h3 class="panel-title text-info">Submit an Event</h3>
  </div>
  {% crispy form %}
</div>
{% endblock content %}
