{% extends 'base.html' %}

{% block title %}
UT Events - {{ event.title }}
{% endblock title %}

{% block jquery %}
{% endblock jquery %}

{% block center %}
{% endblock center %}

{% block content %}
<div class="container">
  <h1><a href="{% url 'home' %}">UT Events</a></h1>
  <legend></legend>
  <h2 class="text-info" style='margin-top: 30px; margin-bottom: 20px'>{{ event.title }}</h2>
  <p><strong>Starts</strong>: {{ event.start_time }}</p>
  {% if event.end_time %}
    <p><strong>Ends</strong>: {{ event.end_time }}</p>
  {% endif %}
  <p><strong>Location</strong>: {{ event.location }}</p>
  {% if event.description %}
    <p><strong>Description</strong>: {{ event.description }}</p>
  {% endif %}
  {% if event.contact_name %}
    <p><strong>Contact</strong>: {{ event.contact_name }}</p>
  {% endif %}
  <em><p class='text-info' style="margin-top: 20px">Added on {{ event.pub_date }}</p></em>

  <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'utevents'; // required: replace example with your forum shortname
        var disqus_identifier = '{{ event.id }}';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</div>

{% endblock content %}

{% block footer %}
{% endblock footer %}
